@model Package

<div class="container">
    <div class="headings">
        <h2 class="heading">Delete Package</h2>
    </div>
    <div class="row">
        <form method="post">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <input asp-for="Id" hidden />
                            
                            <label asp-for="PackageTitle" class="ms-2"></label>
                        </td>
                        <td><input asp-for="PackageTitle" disabled class="form-control border-0 shadow" /></td>
                    </tr>
                   
                    <tr>
                        <td>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-danger register-button">Delete</button>
                            <a asp-controller="PackagesAdmin" asp-action="Index" class="btn btn-dange deletelink">
                                Back to List
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>