
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<div class="container" data-aos="fade-up">

    <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="https://www.tejvirwebsolution.com//images/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>A Virtual Partner For Innovations And You.</h3>
        
            <p>
                Aarav Web Solution is a digital marketing-based business that provides creative solutions that are inspired by expertise, analyzed by insights, and built for results. Aarav Web Solution creates digital content that promotes your company, brand, products, and services to millions of people around the globe.
            </p>
            <p>
                Here, our innovation is not for business, but for your excellent future. We have experienced professionals with an understanding of the most recent marketing strategies and trends, with the goal of delivering completely satisfactory results.
            </p>
            <p>
                At Aarav Web Solution, we believe in designing fruitful solutions to be one that truly acknowledges the needs of our clients and their business models. Thereby, we make an open mind to get the idea of all your needs and desires to deliver the best tailored digital marketing services that suit your aspirations.
            </p>
            <p>
                For us, successful campaigns are incomplete without the right strategy and friendly partnerships with our clients. That is why we prefer to work with you rather than work for you.
            </p>
            <p>
                So, let’s discuss everything digital while enjoying a cup of coffee.
            </p>

        </div>
    </div>

</div>