@{
    ViewData["Title"] = "Contact";
}
<h1>Contact</h1>
<div class="customize">
        <div class="customize-wrapper">
            <div>
                <div>
                    <i class="bi bi-geo-alt"></i>
                    <h4>Location:</h4>
                    <p>Building no 8/380 GTB Nagar sion Koliwada Mumbai 400037</p>
                </div>
                <div>
                    <i class="bi bi-envelope"></i>
                    <h4>Email:</h4>
                    <p><a style="color: #657a6d;" href="mailto:support@araventerprise.com">support@araventerprise.com</a></p>
                </div>
                <div>
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <p>+91 7400041113</p>
                </div>
            </div>
            <div class="form-section">
                <form action="">
                    <input type="text" name="name" style="width:335px" id="" placeholder="Your Name">
                    <input type="email" name="email" style="width:335px"  id="" placeholder="Your Email">
                    <input type="subject" name="subject" style="width:695px" id="" placeholder="Subject">
                    <textarea name="message" id="" cols="30" rows="7" style="width:695px" placeholder="Message"></textarea>

                    <button type="submit" class="cta">Submit</button>
                </form>

            </div>
        </div>
</div>