
@{
    ViewData["Title"] = "Refund";
}

<h1>Refund</h1>

<div class="container" data-aos="fade-up">
    <div class="row">
        <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Refund policy</h3>
            <p>

                AaravWebSolution believes in offering high-quality digital services that meet our customer's needs and help them to fulfill their desires. To ensure this, we constantly keep our customers informed from the start of their projects to the finish.

            </p>

            <ul>
                <li><i class='bx bxs-hand-right'></i> All of our services are executed by the needs of our customers.</li>
                <li><i class='bx bxs-hand-right'></i> AaravWebSolution's expertise provides clients with proof and factual services. Thus, in the event of a failure, our customers can request their work reports from us.</li>
                <li><i class='bx bxs-hand-right'></i> If a client believes that some services are unsatisfactory, he or she can communicate with our customer care representative and request prompt solutions.</li>
                <li><i class='bx bxs-hand-right'></i> If a customer demands a refund at any time, they should be aware that they will only receive a partial repayment based on the proofs and records.</li>
            </ul>


        </div>

    </div>



</div>