
@{
    ViewData["Title"] = "Shipping";
}

<h1>Shipping</h1>

<div class="container" data-aos="fade-up">
    <div class="row">
        <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Shipping Policy</h3>
            <br>
            <p>

                Aarav WebSolution is a marketing based online IT service provider and consultancy. We aim to create the right brand voice and pitch you ahead in the virtual world. Simultaneously, our expertise assists in assembling a strong recognition for your business among the customers and clients. Our shipping policy is transparent and inclusive of all the project essentials as per the discussion and approval. Here is how we go about it:

            </p>

            <ul>

                <li><i class='bx bxs-hand-right'></i> We give clear idea about the date of submission for each project and related tasks. The deadline depends on the package and services the client opts for and the details mentioned therein.</li>

                <li><i class='bx bxs-hand-right'></i> The services and plans are completed either before or on the given date of completion.</li>

                <li><i class='bx bxs-hand-right'></i> After we complete the project, the relevant data is sent in USBs, SD Cards, SSD (Solid State Drive), HDD (Hard Disk Drive), or through other approved mediums. The data included contains reports, databases, images, admin and domain credentials, content files, PDFs, PPTs, and collaterals that are mandatory.</li>

                <li><i class='bx bxs-hand-right'></i> The information stored in the devices comes with the security of a unique username and password, which we send to the authorized person as per the client’s instructions to their registered email id. The added security will help to keep any kind of data misuse or theft at bay.</li>

                <li><i class='bx bxs-hand-right'></i> We ship the storage device in secured packaging through a trusted courier service. Also, we send the courier tracking details to the registered email address of the client. We ensure that the project is completed in a timely manner and treated as a priority because the success and satisfaction of our clients are our primary focus and agenda.</li>

            </ul>



        </div>

    </div>



</div>