
@{
    ViewData["Title"] = "Terms and Conditions";
}

<h1>Terms and Conditions</h1>

<div class="container" data-aos="fade-up">
    <div class="row">
        <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Terms and Conditions</h3>
            <p>
                AaravWebSolution is a digital marketing and e-commerce solution company that collaborates with its specialists to provide the finest solutions to its clients.

            </p>

            <ul>
                <li><i class='bx bxs-hand-right'></i> We gather personal information when a consumer registers for an account, makes a purchase, or communicates with us. Thus, we do not use this type of personal consumer data for promotional purposes.</li>
                <li><i class='bx bxs-hand-right'></i> If any consumers wish to collaborate with AaravWebSolution, they must ensure that all relevant and legitimate information is provided to us. If any information is incorrect, AaravWebSolution reserves the right to take appropriate action by its policies. Thus, before submitting data, clients should confirm that it is correct.</li>
                <li><i class='bx bxs-hand-right'></i> The following terms and conditions constitute the whole contract between you and AaravWebSolution regarding any of the firm's services.</li>

            </ul>





        </div>

    </div>



</div>
