@model Services

<div class="container">
    <div class="headings">
        <h2 class="heading">Edit Service</h2>
    </div>
    <div class="row">
        <form method="post">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <input asp-for="Id" hidden />
                            <span asp-validation-for="ServiceTitle" class="text-danger"></span>
                            <label asp-for="ServiceTitle" class="ms-2"></label>
                        </td>
                        <td><input asp-for="ServiceTitle" class="form-control border-0 shadow" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="ServiceDescription" class="ms-2 text-muted"></label>
                        </td>
                        <td>
                            <textarea asp-for="ServiceDescription" class="form-control border-0 shadow"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary register-button">Update</button>
                            <a asp-controller="ServicesAdmin" asp-action="Index" class="btn btn-dange deletelink">
                                Back to List
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}